@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .main-content{
            width: 600px;
            padding: 50px;
            margin: 100px;
            margin-top: 150px;
            margin-left: 100px;
            justify-content: center;
        }
    </style>
</head>
<body style="background-image : linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))">
    <section>
        <div class="main-content">
            <h2 style="color: black">Employee<br /> Management<br /> System</h2><br />
            <p style="color: darkslategrey">
                The Employee Management System project is a comprehensive software solution designed to streamline and automate various aspects of managing employees within an organization.
                It serves as a centralized platform for HR professionals and managers to efficiently handle tasks related to employee administration, such as recruitment, onboarding and more.
            </p>
        </div>
    </section>
</body>
</html>
